body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0;padding: 5px; }

* {
  font-family: 'Raleway';
  color:  #454545 ;
}

body #body-contents {
  display: flex;
  flex-flow: column;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    min-height: 30px;
    max-height: 60px;
    padding: 2px;
    font: 13px sans-serif;
    color: white;
    background: #303030;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
div.topic-heading {
    display: flex;
    margin-left: 0px;
    justify-content: space-between;
}
div.topic-title {
    justify-content: center;
    width: 100%;
    display: flex;
}

div.topic-title h2 {
  margin-left: -80px;
}

.phylo-tree svg {
    margin-top: -80px;
    width: 900px;
}


.link--active {
  stroke: black !important;
  stroke-width: 2.5px;
}

.link-extension--active {
  stroke-width: 2.5px;
}

.label--active {
  font-weight: bold;
}

g.links {
  stroke: #8c8c8c;
  stroke-width: 1;
  fill: none;
  cursor: pointer;
}



g.links.thick {
  stroke-width: 4 !important;
  stroke: #8c8c8c73;
}

g.link-extensions.thick {
  stroke-width: 4 !important;
  stroke: #8c8c8c73;
}


g.links.thick .link--active {
  stroke-width: 6 !important;
}

g.links-extensions.thick .link-extension--active {
  stroke-width: 6 !important;
}


g.link-extensions {
  stroke: #6399cf;
  stroke-width: 2px;
}

g.nodes text {
  fill:  #535353;
  font-size: 12px;
  cursor: pointer;
}

g.nodes text.emphasize-node {
    font-size: 18px;
    font-weight: 900;
    fill: #387cc0;
}


g.nodes g.genome-size circle {
  fill: rgba(57, 81, 149, 0.83);
  stroke: #525282;
  cursor: pointer;
}

g.nodes text.deemphasize-node {

    font-weight: normal;
    fill: lightgray;
}

g.nodes text.example-node {
    font-size: 15px;
    font-weight: 600;
    fill:  #387cc0;
}

g.nodes text.emphasize-node.label--active {
  font-size: 18px;
  font-weight: 800;
  fill: black;
}

g.nodes .similarity rect {
  transform: rotate(-90deg);
  stroke: #000000b8;
  cursor: pointer;
}
text.legend-title  {
  fill:  #454545;
  text-anchor: start;
  font-size: 12px;
  font-weight: normal;
}



h2 {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #535353;
}


.chart-hint {
  font-size: 13px;
  margin-top: 0px;
  color: #454545;
}


.chart-hint .emphasize {
  font-weight: 600;
  color: #387cc0;
}

.chart-hint.legend {
}

.chart-hint.credits a {
  font-weight: 500;
  color: #387cc0;
}


#toggle-button-container {
  display: flex;
}
.toggle-button {
  padding-top: 4px;
}
#toggle-button-label {
  padding-top: 6px;
  font-size: 15px;
}
#legend-label {
  font-size: 14px;
  width: 130px;
  display: inline-block;
  margin-left: 72px;
}

.card-header h2 button {
    font-size: 14px;
    color: #535353;
    padding: 0px;
    font-weight: 500;
    text-align: left;
}
.card-body {
  padding: 10px !important;
}
.show-me {
  font-size: 12px !important;
  font-weight: bold !important;
  color: #387cc0 !important;
  line-height: 14px !important;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: top !important;
  border: thin solid #387cc0 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.legendTitle {
  font-size: 14px;
  fill: #535353;
}
.legendTitle tspan {
  font-size: 14px;
  fill: #535353;
}
.legendSize circle.swatch {
  fill: rgb(57, 81, 149);
  stroke: #717171;
}
.legendCells .cell .label {
  font-size: 12px;
  fill: #535353;
}
.accordion>.card .card-header {
  padding-left: 10px;
  padding-right: 10px;
  fill: #535353;
}

#bar-chart-genome-size .bar {
  fill: rgba(57, 81, 149, 0.83);
  stroke: darkgrey;
}
#bar-chart-similarity .bar {
  stroke: darkgrey;
}

.hide-me {
  visibility: hidden !important;
}
#title-bar-chart-genome-size {
  margin-left: 40px;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
}
#title-bar-chart-similarity {
  margin-left: 40px;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
}
